body {
    --token-b7e60c3f-cf5c-4bb2-9a50-0764d9b0fe89: rgb(240, 249, 255);
    --token-64ad03fb-f358-4a20-8cd9-7b0a9f423f32: rgb(224, 242, 254);
    --token-acfd14a7-dcd9-4223-9b76-75fdbfb23361: rgb(186, 230, 253);
    --token-e7a56f59-d770-4304-b374-cfd5c023ee5e: rgb(125, 211, 252);
    --token-c5d3f093-6bf0-4647-9cff-57ae31550488: rgb(56, 189, 248);
    --token-ec7b5f44-7df0-4d01-83dd-cc950f41a506: rgb(56, 189, 248);
    --token-bc22dae2-76e3-47bb-b383-8a0cb2f4e9ef: rgb(2, 132, 199);
    --token-32659101-aa21-4dce-b94b-93ee89e95dde: rgb(3, 105, 161);
    --token-7e1c9282-9e5b-45c8-b4de-d6f09f46d684: rgb(7, 89, 133);
    --token-5c3d483f-5d24-4792-acc1-307210c8b973: rgb(8, 47, 73);
    --token-08d40b51-968a-4e81-9e52-3ffa82f2f726: rgb(240, 241, 243);
    --token-18fcb7c3-43fb-4e78-8297-c817f63de3a2: rgb(224, 227, 232);
    --token-da79b5e8-b86c-473a-a13d-099338e2537c: rgb(209, 213, 220);
    --token-75f2fe65-ddb9-49a6-a1a2-cc8f20efdbf9: rgb(193, 199, 209);
    --token-49e13c61-4444-47df-a112-28c2522ecbbb: rgb(162, 172, 185);
    --token-b78e0438-c0d8-45cf-b90b-df98c9a6df27: rgb(80, 92, 111);
    --token-5e70e7cb-19d5-41db-ab84-8db595fe334c: rgb(60, 70, 83);
    --token-669b14fe-79a1-4177-af67-c15e942ffb0f: rgb(40, 46, 56);
    --token-d50de80c-de71-4bce-85e7-27b70010b81d: rgb(30, 35, 42);
    --token-9fe88d3d-b139-4784-8f8b-bec43ade4fcf: rgb(20, 23, 28);
    --token-8d4046e7-e77a-4ffa-9961-f4646367f831: rgb(213, 247, 226);
    --token-45633e5d-424d-444f-8cd6-25585869d731: rgb(182, 242, 204);
    --token-38037003-909e-4d9e-94b1-2199ca479360: rgb(136, 233, 171);
    --token-3b70636b-4c95-481c-b7da-10836ad586fd: rgb(74, 222, 128);
    --token-e3ae63f9-791c-4800-9e3d-fc9a753b9c69: rgb(51, 171, 95);
    --token-2b8de1a2-d339-4535-abbf-d9744a087780: rgb(34, 133, 70);
    --token-d813ee35-12dd-4125-8a63-ae5fccdc0dc2: rgb(28, 120, 62);
    --token-f6cc87bb-a958-4488-ad24-b65e8edcf939: rgb(21, 128, 61);
    --token-7cc48c97-ebc5-4bb2-976b-f359a263006c: rgb(20, 83, 45);
    --token-ddf0dd9f-a732-4992-adcf-3dcb15f6b1de: rgb(5, 46, 22);
    --token-7c7ac057-9655-412c-a9d3-0d8f8c2bb43a: rgb(254, 250, 232);
    --token-c036eb3f-e120-4f18-9bee-a329632d8319: rgb(254, 249, 195);
    --token-0ab9c34d-91e7-43a3-bc86-d36191039f15: rgb(254, 240, 138);
    --token-04d45bb6-9dc7-44eb-b1fa-ba445bd49bee: rgb(253, 224, 71);
    --token-78fc9787-a46f-4610-b187-79627bb315f4: rgb(250, 204, 21);
    --token-08228d5f-5030-4166-ab26-7e16017cc319: rgb(234, 179, 8);
    --token-45220f14-c0e6-43e9-9da8-fe078ffd5f4f: rgb(202, 138, 4);
    --token-5b44dc3f-4f39-40be-8e0b-2076301b3ceb: rgb(161, 98, 7);
    --token-507d6b9c-e5a4-4474-bcad-a9eb905423cf: rgb(133, 77, 14);
    --token-e221abef-1f64-4626-b371-2c48291d0141: rgb(66, 32, 6);
    --token-78a68b8e-77dd-40a3-a9a9-4148b9f54961: rgb(254, 242, 242);
    --token-a4b0c5b8-4a08-468b-a639-5240118ce455: rgb(254, 226, 226);
    --token-b902d0b0-280a-45d1-aa99-a247eccbc6c2: rgb(254, 202, 202);
    --token-7cd13881-7578-4a80-822a-5272a1085d9d: rgb(252, 165, 165);
    --token-9fd9d6a5-4d99-42ae-9af9-b7449da80f71: rgb(248, 113, 113);
    --token-feb159f1-d201-41f5-ab73-3f687698b35c: rgb(239, 68, 68);
    --token-deb09b1a-aae5-4019-9401-2c42af5a1b37: rgb(220, 38, 38);
    --token-f131bd1d-508c-45ae-a6e1-42de558e22f8: rgb(185, 28, 28);
    --token-fb884f64-d094-4d4b-85f8-4a3ef9e6bc09: rgb(153, 27, 27);
    --token-d1ff45ad-0c00-4a2b-bcf9-e5ccc1a12485: rgb(69, 10, 10);
    --token-36fc8d8e-cc0f-46e4-8a1d-acb420f148a8: rgb(255, 255, 255);
    --token-e6bd675f-2b97-4127-b757-c79529f98f70: rgb(0, 0, 0);
    --token-5f5dcc42-4e56-41c2-815e-eefa897edd13: rgb(253, 253, 253);
    --token-f5ef693e-f4a0-4c93-adb1-0926ee184c6c: rgba(0, 0, 0, 0);
    --token-09f1f7ce-9b7e-4248-a477-bac7638862ac: rgba(0, 0, 0, 0);
    --token-c7cce28f-00d0-44f1-93b8-d3bcf6ed6f83: rgba(0, 0, 0, 0);
    --token-8a4c9bba-f7bf-4d53-b436-7e3d02bbd922: rgba(0, 0, 0, 0);
    --token-75ca8968-1f37-4a7b-83e9-219d9c92bf0e: rgba(31, 33, 43, .5);
    --token-aef19ca9-d5c5-4de5-aacd-cc14516930f8: rgba(31, 33, 43, .75);
    --token-ef944599-b3d6-4578-8d41-d5202d9bccaa: rgba(254, 254, 254, 0);
    --token-dd332763-6d53-49b2-b5ff-1b49cd503acd: rgba(254, 254, 254, 0);
    --token-f7e787ba-9d3a-4b65-951c-6fd84eab4ba9: rgba(254, 254, 254, 0);
    --token-02b537e6-a623-4708-8bc1-7da16bd20b2a: rgba(254, 254, 254, 0);
    --token-033e911d-4491-4754-b0da-b114a59b6501: rgba(255, 255, 255, .5);
    --token-a0acd466-ddc8-4352-9e89-e73715652369: rgba(255, 255, 255, .75);
    --token-3379a89d-4e92-4e8d-84e7-68e2dee0fe87: rgb(56, 189, 248);
    --token-15c2d095-8149-4d76-9a82-754a7c9261a7: rgba(117, 61, 105, 1);
    --token-ca2b43b2-4a62-41af-a1d1-9e015d2b94fb: rgb(91, 167, 217);
    --token-ca8955da-55b0-438e-bc8c-6cbb5e622615: rgb(186, 230, 253);
    --token-945c559d-23e2-4cb8-b2a9-568e4b71e702: rgb(186, 230, 253);
    --token-37a008fa-3af5-46dc-80d5-44d619452d25: rgb(186, 230, 253);
    --token-c0b93634-3258-418a-9bf8-b2a0b4c5afb5: rgb(186, 230, 253)
}